@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: "Josefin Sans", sans-serif;
   font-weight: 300;
}

/*Arka Plan Resmi Ayarlama*/
body {
   margin: 0;
}

.ust-kisim {
   background-color: rgb(191, 224, 245);
   width: 100%;
   height: 100vh;
   font-family: "Josefin Sans", sans-serif;
   display: block;
   margin: 0;
   padding: 0;
}


/*Navbar'daki Linklerin Üstüne geldiğinde kalınlaşması*/
.navbar-nav .nav-link:hover {
   font-weight: bold;
}

.navbar-brand:hover .hakkinda-link {
   font-weight: 400
}

/*NavBardaki Linkler*/
.nav-item a {
   transition: color 3s ease;
   font-size: 20px;
}

.NavbarButon
{
   transition: color 3s ease;
   border-radius: 25px;
}



a.İlceler {
   color: white;
   text-decoration-line: none;
   font-weight: bold;
}

/*Özgeçmişteki barlar için*/
li.OzGecmis {
   background-color: rgb(85, 216, 239);

}

/*Özgeçmişteki Linkler İçin*/
ul li a {
   text-decoration-line: none;
   color: white;

}

ul li a:hover {
   text-decoration-line: none;
   color: white;
}

/*Mirasımız Sayfası Arka Planı*/
.Mirasimiz {
   background-color: #541f1f;
   width: 100%;
   height: 100vh;

   display: block;
   margin: 0;
   padding: 0;
}


/*Mirasımız Sayfası Kart Fontu*/
.CardOzel {
   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 20px;
}


.Mirasimiz .row.card-row {
   margin-bottom: 20px;
   /* Cardlar ile diğer içerikler arasında boşluk bırakmak için */
}



/* Hakkımızda İconlar*/
.hakkimizda-icon {
   width: 50%;
}

/*Giris Yap Html*/

.Girisyap {
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
   margin-top: 200px;
   padding: 50px;
   border-radius: 25px;
   background-color: rgb(92, 137, 219);
   font-family: "Josefin Sans", sans-serif;
   font-weight: bolder;
   color: white;
}





.GirisyapButton {
   width: 100%;
   border-radius: 25px;
   transition: background-color 3s ease;
}

.GirisyapButton:hover {
   color: white;
}



/*İletisim Formu Stilleri*/
.iletisim_Container {
   background-color: rgb(104, 149, 232);
   border-radius: 50px;
   width: 50%;
   margin-top: 1%;
}

.iletisim label {
   font-size: 25px;
   font-weight: 400;
}
@media (max-width: 768px) {
   #Hakkında {
       width: 100%;
   }
}

.iletisim .button {
   width: 40%;
   border-radius: 20px;
   transition: background-color 2s ease;
}

.iletisim button:hover {
   color: white;

}


/*İletisim_js*/

.iletisim_js_Container .col-md-3,
.col-md-4 label {
   font-size: 25px;
   font-weight: 400;
}

.iletisim_js_Container .col-md-6 label {
   font-size: 25px;
   font-weight: 400;
}

.iletisim_js_Container .col-md-9 label {
   font-size: 20px;
   font-weight: 350;
}

.iletisim_js_Container .col-md-8 label {
   font-size: 20px;
   font-weight: 400;
}

.iletisim_js_Container {
   background-color: rgb(148, 182, 243);
   padding: 50px;
   border-radius: 25px;
   margin-top: 2%;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}





/*İlgi Alanlarım Sayfaı*/

.Arama_Kutusu input {
   border-radius: 20px;
   padding: 10px;
   padding-left: 20px;
   border: none;
   outline: none;
   font-size: 20px;


}

.Ozel_Buton {
   color: black;
   font-size: 20px;
   border-radius: 20px;
   transition: background-color 3s ease;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.Ozel_Buton:hover {
   color: white;
}